/Padroes_de_Projeto/Criacao/metodo_fabrica/exercicio_pizza/nbproject/private/
/Padroes_de_Projeto/Criacao/metodo_fabrica/exercicio_shapes/target/
/Padroes_de_Projeto/Estrutural/Adapter/AdapterSMS/build/
/Padroes_de_Projeto/Estrutural/Adapter/AdapterSMS/nbproject/private/
/Padroes_de_Projeto/Estrutural/Adapter/AdatperRectangle/build/
/Padroes_de_Projeto/Estrutural/Adapter/AdatperRectangle/dist/
/Padroes_de_Projeto/Estrutural/Adapter/AdatperRectangle/nbproject/private/
/Padroes_de_Projeto/Estrutural/Adapter/AdapterSMS/target/
/Padroes_de_Projeto/Estrutural/Adapter/ClienteS1/target/
/Padroes_de_Projeto/Estrutural/Decorator/ServletHTML/nbproject/private/
/Padroes_de_Projeto/Estrutural/Decorator/ServletHTML/build/
/Padroes_de_Projeto/Estrutural/Decorator/ServletHTML/dist/
/Padroes_de_Projeto/Estrutural/Composite/Menu/target/
/Padroes_de_Projeto/Estrutural/Bridge/BridgeDatabase/target/
/Padroes_de_Projeto/Comportamental/CadeiaResponsabilidade/SaqueCaixa/target/
/Padroes_de_Projeto/Criacao/builder/builder_piscina/target/
/Padroes_de_Projeto/Estrutural/Fachada/televisao/target/
/Padroes_de_Projeto/Estrutural/Decorator/cafeteria/target/
/Padroes_de_Projeto/Criacao/metodo_fabrica/exercicio_pizza/target/
/Padroes_de_Projeto/Criacao/metodo_fabrica/game_chuva_montros/target/
/Padroes_de_Projeto/Criacao/metodo_fabrica/gamechuvendomonstros/target/
/Padroes_de_Projeto/Criacao/metodo_fabrica/game_chuva_monstros/target/
/Padroes_de_Projeto/Comportamental/State/Televisao/target/
/Padroes_de_Projeto/Comportamental/Comando/CommandPattern/build/
/Padroes_de_Projeto/Comportamental/Comando/CommandPattern/nbproject/private/
/Padroes_de_Projeto/Comportamental/Comando/CommandPattern/dist/
/Padroes_de_Projeto/Comportamental/Estrategia/MovArquivosComThread/target/
/Padroes_de_Projeto/Comportamental/Memento/MementoConfiguracaoSO/build/
/Padroes_de_Projeto/Comportamental/Memento/MementoConfiguracaoSO/dist/
/Padroes_de_Projeto/Comportamental/Visitor/TeleTaxi/target/
/Padroes_de_Projeto/Comportamental/Visitor/GamePadraoObserverVisitor/target/
/Padroes_de_Projeto/Criacao/metodo_fabrica/GameChuvendoMonstrosComMetodoFabrica/target/
/Padroes_de_Projeto/Criacao/fabrica_abstrata/fabrica_abstrata_telefonia/target/
/Padroes_de_Projeto/Criacao/fabrica_abstrata/fabrica_abstrata_tema_interface/fabrica_abstrata_tema_interface/target/