/Padroes_de_Projeto/Criacao/metodo_fabrica/exercicio_pizza/nbproject/private/
/Padroes_de_Projeto/Criacao/metodo_fabrica/exercicio_shapes/target/
/Padroes_de_Projeto/Estrutural/Adapter/AdapterSMS/build/
/Padroes_de_Projeto/Estrutural/Adapter/AdapterSMS/nbproject/private/
/Padroes_de_Projeto/Estrutural/Adapter/AdatperRectangle/build/
/Padroes_de_Projeto/Estrutural/Adapter/AdatperRectangle/dist/
/Padroes_de_Projeto/Estrutural/Adapter/AdatperRectangle/nbproject/private/
/Padroes_de_Projeto/Estrutural/Adapter/AdapterSMS/target/
/Padroes_de_Projeto/Estrutural/Adapter/ClienteS1/target/
/Padroes_de_Projeto/Estrutural/Decorator/ServletHTML/nbproject/private/
/Padroes_de_Projeto/Estrutural/Decorator/ServletHTML/build/
/Padroes_de_Projeto/Estrutural/Decorator/ServletHTML/dist/
/Padroes_de_Projeto/Estrutural/Composite/Menu/target/
/Padroes_de_Projeto/Estrutural/Bridge/BridgeDatabase/target/
/Padroes_de_Projeto/Comportamental/CadeiaResponsabilidade/SaqueCaixa/target/
/Padroes_de_Projeto/Criacao/builder/builder_piscina/target/
/Padroes_de_Projeto/Estrutural/Fachada/televisao/target/
/Padroes_de_Projeto/Estrutural/Decorator/cafeteria/target/
/Padroes_de_Projeto/Criacao/metodo_fabrica/exercicio_pizza/target/
/Padroes_de_Projeto/Criacao/metodo_fabrica/game_chuva_montros/target/
/Padroes_de_Projeto/Criacao/metodo_fabrica/gamechuvendomonstros/target/
/Padroes_de_Projeto/Criacao/metodo_fabrica/game_chuva_monstros/target/