/Padroes_de_Projeto/Criacao/metodo_fabrica/exercicio_pizza/nbproject/private/
/Padroes_de_Projeto/Criacao/metodo_fabrica/exercicio_shapes/target/
/Padroes_de_Projeto/Estrutural/Adapter/AdapterSMS/build/
/Padroes_de_Projeto/Estrutural/Adapter/AdapterSMS/nbproject/private/
/Padroes_de_Projeto/Estrutural/Adapter/AdatperRectangle/build/
/Padroes_de_Projeto/Estrutural/Adapter/AdatperRectangle/dist/
/Padroes_de_Projeto/Estrutural/Adapter/AdatperRectangle/nbproject/private/